In [1]:
################################################
################################################
import json
import sys
from csv import writer
import gzip
from glob import iglob
import os
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
################################################
################################################

In [2]:
df = pd.read_csv('/datasets_1/sagarj/cleanedTwitterSuicide/suicides-original-v3-extended.csv.gz', compression='gzip', header=0, sep=',', quotechar='"')

In [3]:
df.head()

,index,tweet_id,tweet_time,tweet_author,tweet_author_id,tweet_language,tweet_lat,tweet_lng,tweet_retweet,tweet_text,tweet_author_created_at,tweet_author_description,tweet_author_followers_count,tweet_author_friends_count,tweet_author_statuses_count,tweet_author_location,tweet_author_profile_image,tweet_class,with_replies,parsed_date
0,105957,647443720305033216,Fri Sep 25 16:13:06 +0000 2015,GhostGma,2508051271,en,NaN,NaN,False,I feel like drowning my feelings in alcohol ðŸ˜–ðŸ˜ž...,Mon May 19 17:52:25 +0000 2014,Î¹'Ð¼ 17 / gÎ±Ñƒ / pretty Ñ•Ð½Ñƒ / emo / skater /surfer,654,491,2242,on my way to hell,http://pbs.twimg.com/profile_images/6391607267...,feel-drowning,True,2015-09-25 16:13:06
1,105958,647444248850235393,Fri Sep 25 16:15:12 +0000 2015,DefenseNews0,2167962121,en,NaN,NaN,False,"#Motivational clip for #success, when you feel...",Fri Nov 01 07:32:04 +0000 2013,Another papercut survivor! Sharing all the bes...,646,594,4969,Worldwide,http://pbs.twimg.com/profile_images/3788000008...,feel-depressed,False,2015-09-25 16:15:12
2,105959,647444397261488128,Fri Sep 25 16:15:47 +0000 2015,edwardbnz,223027073,en,NaN,NaN,False,Can I still get into heaven if I kill myself i...,Sun Dec 05 04:49:58 +0000 2010,pree sisters swallowing a donkey's eye,368,420,26446,the neutral milk hotel,http://pbs.twimg.com/profile_images/6305816814...,if-kill-myself,False,2015-09-25 16:15:47
3,105960,647444490286858240,Fri Sep 25 16:16:10 +0000 2015,thedear23,106544625,en,NaN,NaN,False,"So behind, thanks to last weeks computer night...",Tue Jan 19 22:31:23 +0000 2010,Book & Graphics Designer for @Sudden_Insight. ...,122,101,4179,"PDX native, NoCal in-training",http://pbs.twimg.com/profile_images/6191593165...,feel-drowning,False,2015-09-25 16:16:10
4,105961,647444560239587328,Fri Sep 25 16:16:26 +0000 2015,a_curiousboy,3376488503,en,NaN,NaN,False,Feel so empty and alone in this world. I wish...,Tue Jul 14 22:09:40 +0000 2015,440 263 6521,0,4,789,"Parma Heights, OH",http://pbs.twimg.com/profile_images/6454262363...,feel-empty,False,2015-09-25 16:16:26

In [4]:
df_replies = pd.read_csv('/datasets_1/sagarj/cleanedTwitterSuicide/suicides-all-v3-repies-clean.csv.gz', compression='gzip', header=0, sep=',', quotechar='"')

In [6]:
df_replies.head()

,id,text,userId,userName,userScreenName,createdAt,retweets,favs,replyTo,thread
0,673884948265197569,@AudiKhalid haven't drank enough duh TOLD YOU ...,402409699,potat0ehâ„¢,potat0eh,07/12/2015 15:21:06,0,0,NaN,673884618483896322
1,673886890383151105,@potat0eh You did? I woke up with a pretty bad...,16257370,Audi Khalid,AudiKhalid,07/12/2015 15:28:49,0,0,6.738849e+17,673884618483896322
2,673887501677780992,@AudiKhalid i was dispensing drinks from there...,402409699,potat0ehâ„¢,potat0eh,07/12/2015 15:31:15,0,1,6.738869e+17,673884618483896322
3,673888797814185986,@potat0eh No it's because I was on autopilot a...,16257370,Audi Khalid,AudiKhalid,07/12/2015 15:36:24,0,1,6.738875e+17,673884618483896322
4,673902356128493568,@Fulted u should feel bad.,112742809,Sena,Senaktas,07/12/2015 16:30:16,0,0,NaN,673886768215760896

In [8]:
replyGraphsTwitter = {}
for index,row in df.iterrows():
    key = row['tweet_id']
    replyGraphsTwitter[key] = nx.DiGraph()
    propertyDict = {'author' : row['userScreenName'] , 'retweet' : row['retweets'] , 'likes' : row['favs'] , 'text' : row['text'] , }
    replyGraphsTwitter[key].

In [9]:
len(replyGraphsTwitter)

32676